@@smlogout = true
@{
    ViewBag.Title = "LogOff";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/footable/footable.core.min.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet">
<link href="~/Content/datepicker.css" rel="stylesheet">
<link href="~/Content/prudential.css" rel="stylesheet">

<div class="container">
    <div class="login-form">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <section id="loginForm">
                        <img src="~/Content/img/logo2.png" alt="Prudential"> 
                        <br />
                        <br />
                        <p style="text-align:center"> <B>Gracias por utilizar el sitio de acceso a clientes.</B> </p>

                        <br />
                        <button type="submit" name="ingresar" class="btn btn-primary btn-block" onclick="location.href = '/'">Volver al Login</button>

                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

