@{
    ViewBag.Title = "Validación de email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
           <p>Su email fue validado con exito<span class="glyphicon glyphicon-ok"></span></p>
        </div>
    </div>

</div>