@{
    ViewBag.Title = "Contacto";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading panel-prud">
            <span class="panel-title";">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <label>Servicio de Atención al Asegurado</label>
                    </div>
                </div>
            </span>
        </div>
        <div class="panel-body">
            <p class="color-resaltado">Queremos estar comunicados con vos.</p>
            <p> La comunicación es uno de los pilares de nuestro servicio, es por eso que nuestro departamento de Atención al Asegurado está atento a cualquier inquietud, consulta y/o pedido de información que necesites realizar. Para hacerlo podés contactarnos vía e-mail a <span class="color-resaltado"><a href='mailto:atencionalasegurado@prudential.com' target="_top">atencionalasegurado@prudential.com</a></span> o bien telefónicamente a la siguiente línea gratuita: <span class="color-resaltado"><a href='tel:0-800-777-7783' target="_top">0-800-777-PRUD(7783)</a></span> </p>
            <br>
            <p>La compañía de seguros dispone de un Servicio de Atención al Asegurado que atenderá las consultas y reclamos que presenten los tomadores de seguros, asegurados, beneficiarios y/o derechohabientes, y los tramitará en un plazo máximo de 30 días hábiles desde su presentación. De transcurrir el plazo sin que haya sido resuelto, o que haya sido denegada su admisión o desestimado, total o parcialmente, podrás acudir al Departamento de Orientación y Asistencia del Asegurado (D.O.A.A.), dependiente de la Superintendencia de Seguros de la Nación.</p>
            <br>
            <p class="color-resaltado"> Dirigiéndote a: Julio A. Roca 721 (C1067ABC) Ciudad Autónoma de Buenos Aires, en el horario de 10:30 a 17:30 hs, o bien comunicándote telefónicamente al <a href='tel:0-800-666-8400' target="_top">0-800-666-8400</a> o por correo electrónico a: <a href='mailto:consultasydenuncias@ssn.gob.ar' target="_top">consultasydenuncias@ssn.gob.ar</a> </p>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="well well-sm">
                        Los responsables del SAA en Prudential Seguros son:
                        <br> Responsable - <span class="color-resaltado">Gabriel Srugo</span>
                        <br> 1º Asistente - <span class="color-resaltado">Ana Belén Sánchez</span>
                        <br> 2º Asistente - <span class="color-resaltado">Evelyn Rocío Gallardo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
