
@{
    ViewBag.Title = "Terms and Conditions";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading panel-prud">
            <span class="panel-title" ;">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <label>Términos y condiciones</label>
                    </div>
                </div>
            </span>
        </div>
        <div class="panel-body">

            <p>Lea detenidamente los siguientes términos legales y condiciones de uso. Mediante la utilización de la página www.clientes.prudentialseguros.com.ar (en adelante, el "Sitio"), usted presta conformidad y queda sujeto a todos los términos, condiciones, y avisos que puedan encontrarse en estos Términos Legales y Condiciones de Uso que regulan el uso del Sitio que Prudential Seguros S.A. (en adelante, Prudential Seguros) pone gratuitamente a disposición de sus clientes (en adelante, el/los “Cliente/s" o el/los “Usuario/s").</p>
            <p>
                1. SOBRE LOS TÉRMINOS Y CONDICIONES DEL SITIO <br />
                Nos reservamos el derecho de modificar los Términos Legales y Condiciones de Uso en cualquier momento y sin previo aviso. Las modificaciones entrarán en vigencia a partir del momento en que sean publicadas en este Sitio, por lo que se aconseja la lectura periódica de los Términos y Condiciones.
                Prudential Seguros tiene sus propias políticas legales, de confidencialidad, de Términos legales y Condiciones de uso para este Sitio, las cuales abarcan sólo el uso que usted realice de este Sitio y no se aplican al uso que realice de los Sitios vinculados. Se recomienda la lectura de las políticas o los términos del Sitio vinculado a fin de conocer de qué manera el uso de dicho Sitio puede afectarlo.
                En caso de que alguna parte de los Términos legales y Condiciones de uso sea considerada nula, ilegal o que no sea exigible judicialmente por algún tribunal u otro órgano competente, dicha parte será separada del resto de los Términos y Condiciones, los cuales seguirán teniendo validez y serán exigibles judicialmente hasta el máximo permitido por ley.
            </p>
            <p>
                2. EL SERVICIO / EL SITIO
                El Sitio está organizado por Prudential Seguros.<br />
                El Sitio brinda un portal de acceso a información acerca de los productos contratados por el Cliente, ofreciendo al Usuario la posibilidad de efectuar transacciones básicas relativas a su póliza.
                Se deja expresa constancia que el Cliente podrá solicitar en cualquier momento a Prudential Seguros un ejemplar en original de toda la documentación relativa a los productos contratados que figure en el Sitio así como también de las transacciones que efectúe.
                Podrán acceder al Sitio todas aquellas personas físicas mayores de edad, que posean contratadas con Prudential Seguros una o más pólizas de seguro. Cuando el tomador de la póliza resulte ser una persona jurídica, podrá acceder al Sitio el representante legal de la misma, siendo responsabilidad de la firma contratante informar a Prudential Seguros cualquier cambio de representante legal por ella designado.
                A fin de ingresar al Sitio, los Clientes deberán ingresar en el Sitio Web y registrarse, completando para ello un formulario con los siguientes datos: https://clientes.prudentialseguros.com.ar
                El ingreso al Sitio y el registro de los datos de validación requeridos por el mismo serán considerados una confirmación de la comprensión y aceptación por parte del Cliente de los presentes Términos y Condiciones. Asimismo, se aclara que el último correo electrónico que el Cliente declare ante la compañía, ya sea a través del ingreso a este Sitio como en forma telefónica a través del Servicio de Atención al Asegurado, o en forma personal a través de su Life Planner, o
                por cualquier otro medio, será considerado por Prudential Seguros como último correo electrónico válido declarado por el Cliente a los fines de las notificaciones que se envíen en relación a la/s póliza/s contratadas, (aun cuando difiera respecto del denunciado en la solicitud de seguro).
                En caso de dudas y/o desacuerdo con cualquier término de los Términos y Condiciones, el Usuario no deberá proporcionar sus datos, y deberá abstenerse de registrarse en el Sitio. Prudential Seguros excluirá del Sitio a aquellos Usuarios que: (i) lleven a cabo cualquier tipo de conducta fraudulenta en contra de los mecanismos de utilización; (ii) lleven a cabo cualquier intento o método de utilización por cualquier proceso, técnica o mecánica de participación distinta a la detallada en los presentes Términos y Condiciones; (iii) utilicen técnicas de naturaleza robótica, repetitiva, automática, programada, mecanizada o similar.-
                Mediante el ingreso al Sitio, el Cliente queda automáticamente notificado de cualquier información, documentación o comunicación relacionada con su/s Póliza/s de Seguro de Vida por él contratada/s, puesto que constituye este medio como domicilio válido de notificación. Asimismo, Usted podrá optar por recibir las notificaciones de cualquier información, documentación o comunicación relacionada con la/s Póliza/s de Seguro de Vida contratada/s en formato papel mediante correo postal en su domicilio. Salvo que nos indique expresamente lo contrario, entenderemos que Usted, mediante la aceptación de estos términos y condiciones, acepta recibir las notificaciones a través del Sitio web. Se aclara que todas las transacciones que el Cliente efectúe a través del Sitio web deberán ajustarse a términos y demás condiciones técnicas, contractuales y tarifarias aplicables a su/s póliza/s y a las pautas de contratación y suscripción de Prudential Seguros vigentes al día de la fecha, y/o a las condiciones que en el futuro Prudential Seguros haga conocer al Cliente por escrito. Asimismo, se deja constancia que todas y cada una de las transacciones / solicitudes que los Clientes tramiten a través de este Sitio se encontrarán sujetas a la efectiva aprobación y procesamiento por parte de Prudential Seguros.
                Para mayor información contáctese con nosotros y consulte los límites y condiciones de suscripción de cada producto que Ud. posee contratado.
                Los productos de Prudential Seguros, son ofrecidos exclusivamente en la República Argentina y están destinados a ser comercializados en dicha jurisdicción. Las personas que encontrándose fuera de este país accedan a estas páginas están obligadas a requerir asesoramiento profesional independiente sobre la existencia de restricciones legales para su contratación.
                La información y materiales que figuran en este Sitio podrán ser modificados en cualquier momento y sin previo aviso.
                Prudential Seguros no se ofrece como asesor legal, financiero, impositivo o de cualquier otra clase por medio del Sitio. Cualquier información en ese Sitio no deberá interpretarse como una recomendación u opinión de que se debería realizar alguna compra.
            </p>
            <p>
                3. CONDICIONES DE ACCESO Y UTILIZACIÓN DEL SITIO <br />
                3.1. Carácter gratuito del acceso y utilización del Sitio
                La prestación del servicio del Sitio por parte de Prudential Seguros tiene carácter gratuito para los Usuarios y no exige la previa suscripción o registro del Usuario.
                3.2. Obligación de hacer un uso correcto del Sitio
                El Usuario se compromete a utilizar el Sitio de conformidad con la ley, estos Términos legales y Condiciones de Uso, así como con la moral y buenas costumbres generalmente aceptadas y el orden público.
                El Usuario se obliga a abstenerse de utilizar el Sitio con fines o efectos ilícitos, contrarios a lo establecido en estos Términos legales y Condiciones de Uso, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio o impedir la normal utilización o disfrute del Sitio por parte de los Usuarios.
                3.3. Versiones mínimas de navegador requeridas para el uso del Sitio:
                Microsoft Explorer : 11
                Mozilla FireFox : 45.0
                Google Chrome : 55.0.2883
                macOS Safari : 9.1.3
                3.4. Versiones mínimas de otras aplicaciones requeridas para el uso del Sitio:
                Adobe Acrobat Reader : 11.0.17
                Microsoft Excel: Office 2007
            </p>
            <p>
                4. UTILIZACIÓN DEL SITIO BAJO LA EXCLUSIVA RESPONSABILIDAD DEL USUARIO <br />
                El Usuario es consciente de y acepta voluntariamente que el uso del Sitio tiene lugar bajo su única y exclusiva responsabilidad.
                Asimismo el usuario es responsable por el mantenimiento del equipo requerido para acceder y utilizar el servicio que Prudential Seguros brinda a través del Sitio y por las medidas de Seguridad y Antivirus de su propia computadora.
                El usuario deberá realizar todos los pasos necesarios para proteger la seguridad del hardware y software de su computadora y sus métodos de accesos, por ejemplo asegurando: a) que su Computadora esté libre de virus; b) su Computadora no haya quedado sola mientras esté operando en el Sitio; c) su Computadora se encuentre libre de cualquier programa o mecanismo capaz de capturar su clave o respuesta de seguridad. Una vez que ingrese al Sitio, no deberá dejar la terminal por la cual ha accedido al servicio de manera de permitir que alguien la utilice si aún no ha salido del Sitio, utilizando a tal efecto la función “SALIR”.
                El Usuario será responsable de asegurarse de que ha salido del servicio al finalizar la sesión.
                Los términos “Computadora/s” y/o “terminal/es” refieren tanto a las computadoras o terminales a través de las cuales el usuario accede al sitio Web de Prudential Seguros, así como cualquier otro dispositivo electrónico a través del cual, el usuario tenga acceso a Internet y pueda acceder a la página Web de Prudential Seguros.
                Prudential Seguros trabaja duro para asegurar que nuestros sistemas sean seguros y cumplan con los estándares de la industria. Cuando es apropiado, empleamos firewalls (cortafuegos), tecnología de cifrado, códigos de acceso de usuario (por ejemplo, ID de usuario y contraseñas) y otros mecanismos para controlar el acceso a sistemas y datos. Seguiremos evaluando nuevas tecnologías y evaluando su capacidad para brindar protección adicional a su información personal. La privacidad y seguridad de su información son nuestras prioridades más altas. La tecnología Secure Socket Layer (SSL) asegura que sólo se pueda acceder a su cuenta con la contraseña que elija para que pueda utilizar nuestros servicios con confianza.
            </p>
            <p>

                5. EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD <br />
                Prudential Seguros no garantiza la disponibilidad y continuidad del funcionamiento del Sitio y de los Sitios vinculados. Cuando ello sea razonablemente posible, Prudential Seguros advertirá previamente las interrupciones en el funcionamiento del Sitio y de los Sitios vinculados. Prudential Seguros tampoco garantiza la utilidad del Sitio y de los Sitios vinculados para la realización de ninguna actividad en particular, ni su infalibilidad.
                Prudential Seguros excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o de continuidad del funcionamiento del Sitio y/o sus servicios o contenidos, a la defraudación de la utilidad que los Usuarios hubieren podido atribuir al Sitio, a la falibilidad del Sitio, y en particular, aunque no de modo exclusivo, a los fallos en el acceso a las distintas páginas web del Sitio o de los Sitios vinculados.
                Asimismo, Prudential Seguros no otorga ninguna garantía ni se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que se deriven de:
                - La falta de utilidad, adecuación o validez del Sitio y/o de sus servicios o contenidos para satisfacer necesidades, actividades o resultados concretos o expectativas de los Usuarios.
                - La existencia de virus, programas maliciosos o lesivos en los contenidos.
                - Recepción, obtención, almacenamiento, difusión o transmisión, por parte de los Usuarios, de los contenidos.
                - El uso ilícito, negligente, fraudulento, contrario a los presentes Términos Legales y Condiciones de Uso que regulan el uso del Sitio que en cada caso sean de aplicación, a la buena fe, a los usos generalmente aceptados o al orden público, del Portal, sus servicios o contenidos, por parte de los Usuarios.
                - La falta de licitud, calidad, fiabilidad, utilidad y disponibilidad de los contenidos y de los servicios prestados por terceros y puestos a disposición de los Usuarios en el Sitio.
                El Usuario renuncia desde ya a efectuar reclamo alguno a Prudential Seguros respecto del alcance, costo y/o disponibilidad del servicio de conexión a INTERNET que le suministra su Proveedor de Servicios de Internet. El Usuario renuncia, asimismo, a efectuar reclamo alguno a Prudential Seguros respecto de cualquier circunstancia relativa a los servicios y/o bienes contratados y/o comprados en la forma y condiciones descriptas precedentemente.
                El Usuario renuncia desde ya a efectuar reclamo alguno a Prudential Seguros por daños derivados del uso que él haga de su posibilidad de acceso al sitio Web de Prudential Seguros, comprometiéndose a mantener indemne a Prudential Seguros de cualquier daño que se derive de dicho uso, salvo que en la exhibición de los datos cursados a través del Sitio Web de Prudential Seguros se verificara culpa grave o dolo de Prudential Seguros y que dicha culpa grave o dolo ocasionara un daño al Usuario.
             </p>
             <p>
                6. VÍNCULOS CON CONTENIDOS O SITIOS DE TERCEROS <br />
                El Sitio puede brindar acceso a la información suministrada por terceros en el Sitio o los Sitios de las empresas del grupo Prudential Financial o vínculos de hipertexto con otras direcciones de Internet. La información contenida en Sitios de terceros o Sitios de las empresas del Grupo Prudential Financial de ninguna manera manifiesta, ya sea expresa o implícitamente, la adhesión o aprobación del asesoramiento, las opiniones, la información, los productos o servicios de terceros. No controlamos, ni garantizamos, ni asumimos responsabilidad alguna por la exactitud, oportunidad, o incluso la disponibilidad continua o existencia de dichos contenidos, hipervínculos,
                Sitios o páginas de terceros vinculados con este Sitio, o con los Sitios de las empresas del Grupo Prudential Financial.
                El acceso a los Sitios vinculados quedará bajo su exclusiva responsabilidad y no asumiremos responsabilidad alguna por los daños que pueda causar dicha vinculación.
                Al brindar acceso a los Sitios vinculados, Prudential Seguros no está recomendando la compra o venta de productos o servicios provistos por la empresa a la cual pertenezca el Sitio Web vinculado.
             </p>

            <p>
                7. CORREO ELECTRÓNICO <br />
                Los mensajes de correo electrónico habituales enviados por Internet pueden ser objeto de posibles interferencias, pérdidas o alteraciones. De ninguna manera asumimos responsabilidad alguna por ellos, ni tampoco asumimos responsabilidad alguna ante usted u otra persona por daños o problemas de otra índole, en relación con mensajes de correo electrónico que usted nos envíe, o envíe a cualquier otro miembro del Grupo Prudential Financial.
                Prudential Seguros de ninguna manera enviará información confidencial/sensible a través de un correo electrónico sin adecuadas medidas de seguridad (encriptación, archivo adjunto encriptado, etc.).
            </p>
            <p>
                8. MARCAS REGISTRADAS Y DERECHO DE AUTOR <br />
                Los derechos de autor sobre las páginas, pantallas, información, y todo aquel material utilizado para su preparación, incluido en este Sitio o en los Sitios de las empresas del Grupo Prudential Financial, son de nuestra propiedad o del Grupo Prudential Financial, o bien contamos con la licencia de los mismos, a menos que se establezca lo contrario. Se puede imprimir, copiar, descargar o almacenar en forma temporaria fragmentos de nuestro Sitio o Sitios de las empresas del Grupo Prudential Financial en Argentina para su información personal, o cuando use algún producto y servicio de un Sitio de alguna de las empresas del Grupo Prudential Financial. No podrá alterar ni modificar ningún material que imprima o descargue de este Sitio, incluyendo, sin limitación alguna, la supresión de marcas o leyendas en dicho material. No podrá distribuir este material a terceros. Se prohíbe cualquier otro uso a menos que se solicite y obtenga nuestro consentimiento previo por escrito. En especial, nadie puede utilizar una parte de nuestro Sitio o Sitios de las empresas del Grupo Prudential Financial en Argentina en ninguna otra página, ni vincular cualquier otro Sitio con nuestro Sitio o Sitios de las empresas del Grupo Prudential Financial, sin nuestra autorización previa y por escrito.
                No se puede duplicar, distribuir, publicar, transferir, transmitir, copiar, alterar, vender, usar para generar trabajos derivados, ni incurrir en el mal uso de los contenidos de terceros proveedores disponibles en el Sitio, o los Sitios de las empresas del Grupo Prudential Financial, o a través de ellos.
                Queda terminantemente prohibido el uso del Sitio o los Sitios de las empresas del Grupo Prudential Financial para propósitos ilegales, abusivos, difamatorios, obscenos o amenazadores.
                Prudential Seguros, Prudential Financial, el logo de Prudential Financial, PRU®, Growing and Protecting Your Wealth, Life Planner® y Prudential Seguros son marcas registradas de The Prudential Insurance Company of America, Newark, NJ, USA y sus afiliadas.
            </p>
            <p>
                9. USO DE "COOKIES" O DE OTRAS HERRAMIENTAS DE RECOPILACIÓN DE DATOS <br />
                "Cookies" son pequeños archivos de texto que un sitio web transfiere al disco duro o navegador de un usuario que ingresa al sitio para obtener mayores funcionalidades o para el seguimiento del uso del sitio web. No utilizamos cookies para recopilar información personal, como el nombre de una persona o la dirección de correo electrónico. Prudential Seguros utiliza cookies para identificar a los usuarios frecuentes de nuestro sitio web, determinar la ruta que los usuarios toman en nuestro sitio e identificar a los usuarios que han llegado a prudentialseguros.com.ar como resultado de un banner en un sitio web de terceros. Toda información recopilada mediante el uso de cookies se compila sobre una base agregada anónima.
                Usted puede decidir cómo y cuándo aceptar una cookie en su computador mediante la configuración de sus preferencias u opciones en su navegador. Sin embargo, si usted opta por rechazar las cookies, no podrá utilizar algunos de nuestros productos y servicios en línea o las características del sitio web.
                Ocasionalmente podemos utilizar los servicios de otras compañías para establecer cookies en nuestro Sitio Web y para recoger para nosotros la información contenida en las cookies. En algunos casos también podemos utilizar a otra empresa para operar los servidores web de nuestro Sitio web. La información que estas empresas puedan recoger de la cookie será utilizada de la misma forma que se señala más arriba.
                Además de las cookies, también podemos utilizar otros medios para recoger de forma pasiva datos no personales identificables relacionados con el uso que usted le da a nuestros sitios web, como por ejemplo mediante el uso de “clear GIFs” (pequeños archivos de datos que pueden estar integrados en las imágenes de nuestros sitios web y que nos permiten realizar un seguimiento del uso de nuestros sitios web) y el análisis de los datos "click stream" o flujo de clic (camino virtual que se deja al navegar por Internet y visualizar nuestras páginas web). Nosotros sólo utilizamos los
                “clear GIFs” y los datos de “click stream” para recopilar información anónima sobre su visita a nuestros sitios web. El bloqueo de las cookies evita que los “clear GIFs” puedan hacer un seguimiento de su actividad, y también nos impide recoger cierta información anónima y personal, como su dirección IP, sin embargo, el “clear GIF” seguirá registrando cualquier visita anónima.
                Además de la información que podamos obtener de las cookies, de los “clear GIFs”, o a través del análisis de los datos de flujo de clic o de cualquier otro medio que podamos emplear para recopilar información no personal identificable acerca de usted o de sus visitas a nuestros sitios web, también podremos obtener cualquier información anónima que usted nos proporcione en línea.
                10. GENERALIDADES
                La demora u omisión de Prudential Seguros en exigir el estricto cumplimiento de estos Términos legales y Condiciones de uso no podrá interpretarse como renuncia a sus derechos.
            </p>
            <p>
                11. DURACIÓN Y TERMINACIÓN <br />
                La prestación del servicio del Sitio tiene, en principio, una duración indefinida. Prudential Seguros, no obstante, está autorizada para dar por terminada o suspender la prestación del servicio del Sitio en cualquier momento. Cuando ello sea razonablemente posible, Prudential Seguros advertirá previamente la terminación o suspensión de la prestación del servicio del Sitio.
            </p>
            <p>
                12. JURISDICCIÓN Y LEY APLICABLE <br />
                Toda cuestión entre Prudential Seguros y el Usuario estará regida por las leyes de la República Argentina, con exclusión de toda norma que remita a la aplicación de una ley extranjera. Cualquier controversia será sometida a los Tribunales Ordinarios en lo Comercial de la Ciudad de Buenos Aires.

                Prudential Seguros S.A. se encuentra registrada en la República Argentina desde el 15 de septiembre de 1998 en el Registro Público de Comercio bajo el N° 9619 Libro 2 Tomo - de Sociedades por Acciones. Domicilio Legal: Avenida Leandro N. Alem 855 Piso 5° de la Ciudad de Buenos Aires.
            </p>
            <p>
                13. POLÍTICA DE CONFIDENCIALIDAD Y PROTECCIÓN DE DATOS <br />
                Para nosotros es importante proteger su privacidad. Por lo tanto, toda la información recopilada, relacionada con la utilización que usted le otorgue al Sitio se mantendrá según las políticas de confidencialidad y protección de datos que se exponen a continuación.
                Todos los Datos Personales ingresados por el Usuario a través del Sitio serán tratados por Prudential Seguros, conforme lo establecido en la normativa argentina de Protección de datos personales, ley 25.326 y su reglamentación.
                Mediante la utilización de la página www.clientes.prudentialseguros.com.ar, Ud. acepta nuestra política de Privacidad. En caso de no estar de acuerdo con la misma, por favor, no utilice este Sitio. Si Ud. utiliza el Sitio luego de que se haya introducido alguna modificación a esta política, ello importará la aceptación de los cambios.
                Aplicación de la Política de Privacidad
                La presente política de privacidad se aplica únicamente a este Sitio, no así a los Sitios a los que Ud. acceda por medio de links. Le sugerimos que en estos casos se informe acerca de la política adoptada en cada uno de los Sitios.
                Manteniendo la Información Personal segura, Prudential Seguros S.A la utilizará de conformidad con las políticas de utilización de la Información Personal que se establecen a continuación:
                A) Prudential Seguros S.A. resguardará a salvo y conforme a niveles de protección adecuados, toda la información que los Usuarios provean así como también aquella que la compañía ponga a disposición de los Clientes a través de la página web, relativa a las pólizas por ellos contratadas.
                La información recogida por Prudential en nuestro Sitio podrá ser utilizada por Prudential con los siguientes fines: fines de comercialización y promocionales, análisis estadístico y desarrollo de productos, transacciones sobre las pólizas contratadas por los Clientes, únicamente cuando éstos así lo solicitaran por medio del uso del Sitio web.
                B) Prudential Seguros S.A puede compartir la información personal recogida de los visitantes del Sitio con:
                i. Las empresas de grupo Prudential Financial, sujeto al ejercicio por parte del visitante de su derecho de ser excluido conforme se detalla en el apartado c) siguiente
                ii. Autoridades gubernamentales o judiciales conforme sea exigido por alguna norma.
                iii. Reaseguradores
                C) En ejercicio de su derecho de acceso, el visitante tendrá la posibilidad de solicitar a Prudential Seguros S.A. el detalle de la información provista por él y, en caso de creerlo necesario, podrá ejercer su derecho de modificar, actualizar, rectificar la misma y/o solicitar la baja del registro correspondiente, poniéndose en contacto con Prudential Seguros S.A. por medio fehaciente que deberá notificar en el domicilio de la Compañía, en el cual el visitante deberá manifestar claramente el objeto y la finalidad de su presentación.
                Seguridad
            </p>
            <p>
                Nosotros somos responsables por la información obtenida de nuestros Clientes en el curso normal de las operaciones e información que recibimos on-line de nuestros visitantes que acceden a nuestro Sitio en la red. Mantenemos procedimientos de seguridad física, electrónica y procedimental.
                Prudential Seguros adoptará los niveles de seguridad de protección de los datos personales legalmente requeridos, e instalará todos los medios y medidas técnicas razonablemente a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales de los Clientes. Sin perjuicio de ello, los Clientes aceptan y son conscientes de que las medidas de seguridad en Internet no son inexpugnables y pueden resultar insuficientes frente a ciertas circunstancias extraordinarias o difíciles de prever. En consecuencia, Prudential Seguros, no será responsable por la difusión de los Datos Personales efectuada por terceros ni por los daños y perjuicios que tal difusión pudiera generar. La DIRECCIÓN NACIONAL DE PROTECCIÓN DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales. Para contactar a la Dirección Nacional de Protección de Datos Personales ingresar a http://www.jus.gob.ar/datos-personales.aspx, o llamar a los teléfonos 4383-8512/8510/8513/8514, o personalmente en Sarmiento 1118, 5° piso, Ciudad de Buenos Aires.
                Derecho a modificar la Política de Privacidad en Internet
                Prudential se reserva el derecho de modificar su Política de Privacidad en Internet en cualquier momento. Los cambios entrarán en vigencia de inmediato una vez publicados en nuestro Sitio. Recomendamos que los visitantes a nuestro Sitio vuelvan a visitar la Política de Privacidad en Internet periódicamente a fin de tomar conocimiento de los cambios introducidos en nuestras prácticas y políticas en cuanto a privacidad.
             </p>
	   <p>
		14. TRANSFERENCIA TRANSFRONTERIZA <br/>
		Su información personal puede estar almacenada y ser procesada en cualquier país en que Prudential Seguros tenga instalaciones o en que contratemos proveedores de servicios, y si nos provee Información Personal, usted consiente a la transferencia de dicha información a países fuera de su país de residencia, incluyendo los Estados Unidos, que pueden tener normas de protección de datos diferentes a aquéllas de su país, y pueden ser consideradas por las regulaciones de Argentina con un nivel inadecuado de protección de datos.　
	   </p>


        </div>
        </div>
    </div>

