<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Views/UIFRequest.js" type="text/javascript"></script>

<div id="ModalUIFLastInformation" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-UIF" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom: 5px;">

                <div class="panel panel-primary panel-personal-information">
                    <div class="panel-body" style="padding: 0px;">
                        <strong style="font-size: smaller">LAVADO DE DINERO RESOLUCIÓN UIF N° 202/2015</strong>
                        <p></p>
                        <p style="font-size: small">
                            Le informamos que en virtud de la normativa vigente en materia de lavado de dinero aplicable a seguros de vida, usted debe
                            mantener actualizada la información brindada a Prudential Seguros S.A. al momento de completar la solicitud que diera
                            origen a la póliza de seguro de vida contratada.
                            <br />
                            Por tal motivo, le solicitamos que cualquier modificación de la información que se le presenta a continuación, sea
                            notificada fehacientemente a Prudential Seguros S.A. dentro del plazo de 15 (quince) días corridos de ocurrido el
                            hecho que dé lugar a la modificación de los datos suministrados.
                        </p>
                    </div>
                </div>

                <form id="UIFLastPInformationForm">

                    <p class="text-center"><u>DATOS ACTUALES</u></p>

                    <div style="overflow-x:auto;">

                        <table class="table table-bordered table-striped" style="font-size: smaller;">
                            <tbody id="UIFActualDataTBody"></tbody>
                        </table>

                    </div>

                    <div id="UIFLastPInformationCheckboxDiv">
                        <label class="checkbox-inline"><input name="UIFLastPInformationCheckbox" type="checkbox">ACEPTO</label>
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <a href="/">VER TERMINOS Y CONDICIONES</a>
                    </div>

                </form>

            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="row text-center">
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <button id="btnUIFModalConfirm" type="button" class="btn btn-primary">Confirmar Datos</button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <button id="btnUIFModalUpdateData" type="button" class="btn btn-primary">Actualizar Datos</button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalUIFUpdateNatualPerson" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-UIF" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom: 5px;">

                <div class="panel-body" style="padding: 0px;">
                    <strong style="font-size: smaller">A continuación debe completar los datos que difieran de nuestros registros:</strong>
                </div>

                <form id="UIFLastPInformationForm">






                </form>

            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="row text-center">
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <button id="btnUIFModalUpdateData" type="button" class="btn btn-primary">Actualizar mis datos</button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Processing -->
<div id="loaderModalLastPInformation" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-4">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <div class="loader">
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4">
            </div>
        </div>
    </div>
</div>

<!-- Modal Info -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalInfoText" class="modal-body"></div>
            <div class="modal-footer">
                <button id="modalInfoBtnOk" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirm -->
<div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ¿ Confirma la actualización de datos personales ?
            </div>
            <div class="modal-footer">
                <button id="modalConfirmBtnOk" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button id="modalConfirmBtnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>